<div class="flex h-screen">
    <div class="w-1/2 overflow-hidden hidden md:block">
        <img src="{{ site.baseurl }}/assets/images/background-computer.jpg" class="object-cover object-left h-screen">
    </div>

    <div class="w-full md:w-1/2 flex flex-col justify-around items-center p-1 text-4xl">
        <img src="{{ site.baseurl }}/assets/images/logo.svg" width="60%">
        <div class="w-4/5 text-center">
            <div>Vente - Maintenance - Location </div>
            <div>des systèmes informatiques</div>
        </div>

        <div class="text-blue-500 w-4/5 text-center">Un professionnel à votre service depuis 1996</div>

        <i class="text-blue-500 icon-circle-arrows-1 text-6xl cursor-pointer chevron-animation"></i>

    </div>
</div>