---
---

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "_sass/_custom.scss";
@import "tailwindcss/utilities";

.chevron {
  margin-top: 20px;
  display: block;
  -webkit-animation: pulse 2s infinite;
  animation: pulse 2s infinite;
}

.chevron-animation {
  display: block;
  animation: pulse 1.5s infinite;
  animation-delay: 4s
}

@keyframes pulse {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  50% {
    -webkit-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
